.page--header {
  padding: 20px;
  margin-bottom: 25px;
}

.page--nav {
  width: 35%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.page--nav p {
  color: var(--lightGray);
  text-decoration: none;
  font-family: var(--roboto);
  font-weight: bold;
  cursor: pointer;
}

.query-form {
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.aa-InputWrapperPrefix {
  width: 0;
  margin-left: 10px;
}

.query-input {
  margin: 0;
  padding: 0;
}

#btn-query {
  border: none;
  background-color: var(--green);
  height: 37px;
  color: white;
  padding: 8px 15px;
  font-size: 15px;
  border-radius: 10px;
  font-weight: bold;
  transition: all 0.5s;
  cursor: pointer;
  margin-right: auto;
  line-height: 15px;
}

#firstAnchor {
  color: black;
}

.queryList-header {
  padding: 20px;
  font-size: 18px;
}

.queryList-names {
  display: none;
}

.queryList li {
}

.query-icons-box {
  display: inline-flex;
}

.query-icons {
  color: var(--gray);
  margin: 0 auto;
  transition: 0.5s all;
  cursor: pointer;
  display: block;
}

#alerts {
  display: none;
}

@media screen and (min-width: 700px) {
  .main-page {
    margin: 10vh auto;
    width: 90%;
    height: 80vh;
    background-color: white;
    border-radius: 20px;
  }

  .page--nav,
  .page--nav p {
    display: none;
  }

  .queryList-header {
    display: none;
  }

  .queryList {
  }

  #alerts {
    display: initial;
  }

  .queryList-names {
    display: initial;
    font-size: 18px;
  }

  .queryList-names-box {
    display: flex;
    justify-content: space-between;
    width: 55%;
    margin: 10px auto;
  }
}

.btn-secondary, .btn-secondary.disabled {
  background-color: #fff;
  border-color: #ddd;
  height: 32px;
  width: 48px;
}

.btn-secondary:hover {
  background-color: #eeeeee;
  border-color: #ddd;
}

.invisible {
  visibility: hidden;
}

.no-border {
  border-color: transparent;
}

.list-group-item.queryList-element {
  padding-right: 0;
  margin-right: 0;
}
