@import "../../../node_modules/bootstrap/scss/bootstrap";

.page--header {
  padding: 20px;
  margin-bottom: 25px;
}

.page--nav {
  width: 35%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.page--nav p {
  color: var(--lightGray);
  text-decoration: none;
  font-family: var(--roboto);
  font-weight: bold;
  cursor: pointer;
}

.query-form {
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.aa-InputWrapperPrefix {
  width: 0;
  margin-left: 10px;
}

.query-input {
  margin: 0;
  padding: 0;
}

#btn-query {
  border: none;
  background-color: var(--green);
  height: 37px;
  color: white;
  padding: 8px 15px;
  font-size: 15px;
  border-radius: 10px;
  font-weight: bold;
  transition: all 0.5s;
  cursor: pointer;
  margin-right: auto;
  line-height: 15px;
}

#firstAnchor {
  color: black;
}

.queryList-header {
  padding: 20px;
  font-size: 18px;
}

.query-icons-box {
  display: inline-flex;
}

.query-icons {
  color: var(--gray);
  transition: 0.5s all;
  cursor: pointer;
}

#alerts {
  display: none;
}

@media screen and (min-width: 700px) {
  .main-page {
    margin: 10vh auto;
    width: 90%;
    height: 80vh;
    background-color: white;
    border-radius: 20px;
  }

  .page--nav,
  .page--nav p {
    display: none;
  }

  .queryList-header {
    display: none;
  }

  #alerts {
    display: initial;
  }

  .queryList-names {
    display: initial;
    font-size: 18px;
  }

  .queryList-names-box {
    display: flex;
    justify-content: space-between;
    width: 55%;
    margin: 10px auto;
  }
}

.queryList {
  .list-group {
    overflow: scroll;
    height: 50vh;
    max-height: 50vh;
  }

  .list-group-item {
    margin-right: 0;
    margin-left: 0;
    padding: 16px 0 16px 4px;
  }

  .query-input {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    position: relative;

    .query-send-button {
      @extend .btn;
      @extend .btn-primary;

      margin: 4px;
      background-color: #3c8ed7;
      color: white;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      text-align: center;

      &:hover {
        background-color: #2e7bbf;
      }

      &:active {
        background-color: #145e9f;
      }
    }
  }

  li {
    .icon-group {
      @extend .col-md-auto;
      @extend .btn-group;
    }

    .icon {
      @extend .btn;
      @extend .justify-content-center;
      @extend .btn-secondary;
      @extend .align-items-center;
      @extend .d-flex;

      &.no-border {
        border-color: transparent !important;
      }

      &, &.disabled {
        background-color: #fff;
        border-color: #ddd;
        height: 32px;
        width: 48px;
        margin: 0;
        padding: 0;
      }

    }

    .btn-secondary:hover {
      background-color: #eeeeee;
      border-color: #ddd;
    }
  }

  .invisible {
    visibility: hidden;
    opacity: 0;
  }
}
