/* https://loading.io/css/ */

:root {
  --base-size-pl: 2.3;
  --shift-top-pl: 6px;
  --shift-left-pl: 14px;
}

.state-in-progress-loader div {
  position: absolute;
  width: calc(8px * var(--base-size-pl));
  height: calc(8px * var(--base-size-pl));
  border: calc(1px * var(--base-size-pl)) solid #000;
  top: var(--shift-top-pl);
  left: var(--shift-left-pl);
  border-radius: 50%;
  animation: state-in-progress-loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000 transparent transparent transparent;
}
.state-in-progress-loader div:nth-child(1) {
  border-color: #dddddd;
  top: var(--shift-top-pl);
  left: var(--shift-left-pl);
  animation-delay: -0.45s;
}

.state-in-progress-loader div:nth-child(2) {
  border-color: #aaaaaa;
  top: var(--shift-top-pl);
  left: var(--shift-left-pl);
  animation-delay: -0.3s;
}

.state-in-progress-loader div:nth-child(3) {
  top: var(--shift-top-pl);
  left: var(--shift-left-pl);
  animation-delay: -0.15s;
}

@keyframes state-in-progress-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
